.container {
    margin: auto;
}
.nav {
    //position: sticky;
    background: fixed;
    padding: 2rem;
    background: #fff;
    /* height: 16rem; */
    align-content: center;
    justify-content: center;
    z-index: 1000;
    top: 0;

    //margin: 0 4rem;
    .logo-menu-hamburger {
        //margin: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #nav-toggle {
            position: absolute;
            display: none;
        }

        .menu {
            
            ul {
                text-transform: uppercase;
                display: flex;
                gap: 1rem;

                li {
                    list-style: none;
                }
                .hover {
                    transition: all .3s ease-in-out;
                }
                .hover:hover {
                    color: $soft-red;
                }
            }
        }

        .hamburger {
            //position: absolute; // I think i should remove the position absolute and add a display none.
            right: 4rem;
            display: none;


            .line {
                width: 30px;
                height: 5px;
                margin: 5px;
                border-radius: 3px;
                background-color: $very-dark-blue;
            }
        }
    }
}
