//## Colors

//### Primary

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

//### Neutral

$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$very-dark-blue-opa: rgba(37, 43, 70, 0.95);

@import "general";
@import "header";
@import "nav";
@import "media-query";
@import "download";
@import "FAQ";
@import "features";
@import "features-tab";
@import "footer";
@import "news";
@import "othermediaquery";